<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>RiskAssess | Diabetes Prediction</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index1.css') }}">
    <link rel="stylesheet" href="../static/chat.css">
</head>
<body>

<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top">
        <a class="navbar-brand" href="#"><b class="logo">Risk Assess</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="navitems" href="/dashboard">Get Started</a>
                </li>
                <li class="nav-item">
                    <a class="navitems" href="/disindex">Disease Index</a>
                </li>
                <li class="nav-item">
                    <a class="navitems" href="/cancer">Breast Cancer</a>
                </li>
                <li class="nav-item">
                    <a class="navitems active" href="/diabetes">Diabetes</a>
                </li>
                <li class="nav-item">
                    <a class="navitems" href="/heart">Heart Disease</a>
                </li>
                <li class="nav-item">
                    <a class="navitems" href="/liver">Liver Disease</a>
                </li>
                <li class="nav-item">
                    <a class="navitems" href="#">|</a>
                </li>
                <li class="nav-item">
                    <a class="navitems" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<div class="container mt-5">
    <div class="form-container">
        <h1 class="text-center">Diabetes Prediction</h1>
        <h5 class="text-center mb-4">Please enter the patient details</h5>
    
        <form action="{{ url_for('predictt')}}" method="post">
            <div class="row justify-content-center">
                <div class="col-md-6 form-cont">
                    <div class="form-group">
                        <label for="pregnancies">Number of Pregnancies</label>
                        <input class="form-control" type="number" name="pregnancies" placeholder="e.g., 0 for male" required>
                    </div>
                    <div class="form-group">
                        <label for="glucose">Glucose Level (mg/dL)</label>
                        <input class="form-control" type="number" name="glucose" placeholder="e.g., 80" required>
                    </div>
                    <div class="form-group">
                        <label for="bloodpressure">Blood Pressure (mmHg)</label>
                        <input class="form-control" type="number" name="bloodpressure" placeholder="e.g., 80" required>
                    </div>
                    <div class="form-group">
                        <label for="skinthickness">Skin Thickness (mm)</label>
                        <input class="form-control" type="number" name="skinthickness" placeholder="e.g., 20" required>
                    </div>
                    <div class="form-group">
                        <label for="insulin">Insulin Level (IU/mL)</label>
                        <input class="form-control" type="number" name="insulin" placeholder="e.g., 80" required>
                    </div>
                    <div class="form-group">
                        <label for="bmi">Body Mass Index (kg/mÂ²)</label>
                        <input class="form-control" type="number" name="bmi" placeholder="e.g., 23.1" required>
                    </div>
                    <div class="form-group">
                        <label for="dpf">Diabetes Pedigree Function</label>
                        <input class="form-control" type="text" name="dpf" placeholder="e.g., 0.52" required>
                    </div>
                    <div class="form-group">
                        <label for="age">Patient Age in Years</label>
                        <input class="form-control" type="number" name="age" placeholder="e.g., 34" required>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Predict</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div id="chatbot-container">
    <button id="chatbot-button">
      <img src="{{ url_for('static', filename='robot.png') }}" alt="Chatbot Image">
    </button>
    <iframe id="chatbot-frame" allow="microphone;" src="https://console.dialogflow.com/api-client/demo/embedded/9e3957a0-9780-494f-88af-d91841ca1db7"></iframe>
  </div>

</div>
<script src="../static/script.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>